@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@(Html
        .Grid(Model.Characters)
        .Build(columns =>
        {
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Roles.Any(r => r == Entities.Character.RoleEnum.AOE) ? "X" : string.Empty).Titled("AOE");
            columns.Add(model => model.Roles.Any(r => r == Entities.Character.RoleEnum.Burst) ? "X" : string.Empty).Titled("Burst");
            columns.Add(model => model.Roles.Any(r => r == Entities.Character.RoleEnum.Defense) ? "X" : string.Empty).Titled("Defence");
            columns.Add(model => model.Roles.Any(r => r == Entities.Character.RoleEnum.Purge) ? "X" : string.Empty).Titled("Purge");
            columns.Add(model => model.Roles.Any(r => r == Entities.Character.RoleEnum.Utility) ? "X" : string.Empty).Titled("Utility");
        })
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable()
)

<p>Use this area to provide additional information.</p>
